@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #ebebeb;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 11%;
    gap: 30px;

    background-color: #ccac8c;
    z-index: 1001;

    box-shadow: 0px 2px 5px rgba(123, 123, 123, 0.3);
}

header > span{
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    font-size: larger;
}

#cepBtn{
    border: none;
    text-align: left;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    color: #fff;
}

#cepBtn > p{
}

#cepBtn > strong{
    font-size: medium;
}

#cepBtn > strong > i{
    font-size: 20px;
}

#searchBox{
    width: 60%;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
}

#searchBox > #searchInput{
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}

.bi-search{
    cursor: pointer;
}

#clearSearch{
    display: none;
    cursor: pointer;
}

#userBox{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.logado{
    border-radius: 50%;
    overflow: hidden;
    padding: 1px;
    transition: .2s;
    cursor: pointer;
    border: none;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logado > img{
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.logado:hover{
    border-color: #6a6ae0;
}

#userLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    padding: 2px 5px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

#userLogin > .bi-person-circle{
    font-size: 24px;
}

.bi-bag-heart-fill{
    font-size: 35px;
    cursor: pointer;
    color: #fff;
}

#cartBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1002;
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
}

.closeBtn{
    top: 10px;
    right: calc(35% + 20px);
    position: absolute;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 6px rgba(123, 123, 123, 0.5);
    background-color: #fff;
    transition: .2s;
}

.closeBtn:hover{
    background-color: #f2f2f2;
}

.backBtn{
    left: 10px;
    top: 15px;
    right: calc(100% - 40px);
    width: 48px;
    height: 50px;
}

.open{
    transform: translateX(0);
}

.hidden{
    transform: translateX(100%);
}

#cartItensBox{
    width: 35%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    right: 0;
    overflow-y: auto;
    padding: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    padding: 25px;
    overflow-x: hidden;
    box-shadow: -2px 0px 8px rgba(123, 123, 123, 0.3);
}

#cartItensBox > #emptyCart{
    display: none;
    height: 100%;
    gap: 20px;
    align-items: center;
    justify-content: center;
    cursor: default;
}

#emptyCart > i{
    font-size: 80px;
}

#emptyCart > #emptyText > p{
    margin-top: 5px;
    font-size: large;
}

.cartIten{
    display: flex;
    gap: 20px;
    padding: 10px 30px;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(123, 123, 123, 0.5);
    border-radius: 5px;
    transform: translateX(0);
    transition: transform ease-in-out .4s;
}

.cartIten.hidden{
    transform: translateX(150%);
}

.cartIten > img{
    min-width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.itenInfos{
    width: 100%;
}

.itenInfos > strong{
    display: flex;
    flex-direction: column;
}

.valorOriginal{
    font-weight: 300;
    text-decoration: line-through;
    color: #555;
}

.contBox{
    display: flex;
    gap: 10px;
}

.contBox > button{
    padding: 5px;
    border-radius: 5px;
    text-align: justify;
    cursor: pointer;
}

.contBox > span{
    padding: 5px;
    text-align: justify;
}

.itemRemoveBtn{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
}

.bi-trash{
    font-size: 30px;
    color: rgb(255, 63, 63);
}

#buyBox{
    position: absolute;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    left: 0;
    bottom: 0;
    padding: 25px;
}

#buyInfos > strong{
    font-size: larger;
}

#buyBox > #buyBtn{
    width: 80%;
    padding: 0px 20px;
    border-radius: 5px;
    background-color: #fc4141;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    transition: .3s;
}

#buyBox > #buyBtn:hover{
    background-color: #d22828;
}

#accountBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1002;
    transition: transform 0.2s ease-in-out;

}

#accountBox > #accountInfos{
    position: absolute;
    right: 0;
    width: 35%;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
}

#accountBox > #accountInfos > ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#accountBox > #accountInfos > h3{
    margin: 30px 40px 30px;
    text-align: center;
    cursor: default;
}

#accountBox > #accountInfos > p{
    margin: 10px 40px 15px;
    cursor: default;
}

#accountBox > #accountInfos > ul > li > a{
    display: flex;
    gap: 10px;
    width: 100%;
    text-decoration: none;
    padding: 25px 40px;
    align-items: center;
    transition: .2s;
    color: black;
}

#accountBox > #accountInfos > ul > li > a:hover{
    background-color: #cfcfcf;
    color: #383838;
}

#accountBox > #accountInfos > ul > li > a > i{
    font-size: 30px;
}

/*CAROUSEL*/
.carousel-container {
    position: relative;
    max-width: 100vw;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300vw; /* 3 imagens, cada uma com 100vw */
}

.slide {
    width: 100vw;
    flex-shrink: 0;
}

.slide > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.carousel-container > button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    color: black;
    border: none;
    padding: 20px;
    cursor: pointer;
    font-size: 24px;
    display: none; /* Escondidos até o hover */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.prev {
    left: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.next {
    right: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.carousel-container:hover .carouselBtn {
    display: block;
}

.indicators {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.indicators input {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ccc;
    border: none;
    cursor: pointer;
    appearance: none;
}

.indicators input:checked {
    background: #555;
}
/*FIM CAROUSEL*/

nav{
    display: flex;
    gap: 40px;
    width: 100%;
    justify-content: center;
}

nav > a{
    padding: 10px;
    background-color: #fff;
    border-radius: 5px; 
    box-shadow: 0px 2px 8px rgba(123, 123, 123, 0.3);
    text-decoration: none;
    margin-top: -20px;
    z-index: 999;
    width: 150px;
    text-align: center;
    color: #383838;
    transition: .2s;
}

nav > a:hover{
    color: #818181;
}

#sectionContainers{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

.produtos{
    background-color: #fff;
    margin: 30px 11%;
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 0px 3px rgba(89, 89, 89, 0.3);
}
/*carousel produtos*/
.carousel-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

.carousel-track {
    display: flex;
    gap: 30px;
    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: none;
}

.carousel-track::-webkit-scrollbar {
    display: none;
}

.carousel-element {
    min-width: 220px;
    max-width: 220px;
    height: 350px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

.carousel-element > img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.produtoInfos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 10px 5px;
    height: 50%;
}

.produtoInfos > strong{
    font-size: larger;
}

.nav-controls {
    position: absolute;
    transform: translateY(-100%);
    background-color: #fff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    z-index: 999;
    box-shadow: 0px 0px 10px rgba(123, 123, 123, 0.3);
}

.containerOrganizador{
    display: flex;
    height: 100%;
}

.prev-btn {
    left: 125px;
    display: none;
    transform: translateY(100%);
}
.next-btn {
    right: 125px;
    transform: translateY(100%);
}

.bi-arrow-right, .bi-arrow-left{
    color: black;
    font-size: 30px;
}
/*fim carousel*/

.green{
    color: green;
}

footer{
    margin-top: 80px;
    padding: 80px 11% 60px;
    background-color: #fff;
    cursor: default;
}

footer > ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

footer > ul > li:not(:last-child){
    display: flex;
    flex-direction: column;
    gap: 5px;
} 

footer > ul > li:last-child > p{
    margin-top: 8px;
} 


footer > ul > li:last-child > div{
    display: flex;
    gap: 10px;
} 

footer > ul > li > p > a, footer > ul > li > div > span > a{
    text-decoration: none;
    color: #515151;
    transition: .2s;
} 

footer > ul > li > p > a:hover, footer > ul > li > div > span > a:hover{
    color: #818181;
} 

/* footer > h2{
    margin-top: 80px;
    margin-bottom: 20px;
}

footer > form{
    margin-top: 20px;
    box-shadow: 0px 2px 10px rgba(123, 123, 123, 0.3);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer > form > p{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer > form > p > input[type="email"], textarea{
   padding: 10px;
   border-radius: 5px; 
} */

/* textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 100px;
} */

/* footer > form > input[type="submit"]{
    padding: 15px;
    border-radius: 5px; 
    border: none;
    color: #fff;
    background-color: #6a6ae0;
    cursor: pointer;
} */


footer > div{
    margin-top: 80px;
    text-align: center;
} 


@media (min-width: 200px) and (max-width: 600px) {
    
}