* {
	box-sizing: border-box; 
}

body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	height: 100vh;
    width: 100%;
	background: linear-gradient(to bottom, black, transparent), url("/tcc/marketplace/img/papel.jpg");
    -webkit-background: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.form-area {
	display: grid;
	place-items: center;
	height: 100vh;
}

.wrapper {
	width: 400px;
	height: auto;
	color: #fff;
	padding: 50px 30px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
	position: relative;
	background: #ffffff1a;
	border: 2px solid #ffffff30;
	box-shadow: 0 0 30px #0000002a;
	border-radius: 25px;
}

.wrapper h2 {
	text-align: center;
	margin: 0;
	margin-bottom: 30px;
}

.wrapper p1 {
	margin: 12px 0 15px;
	padding: 0;
	font-weight: 300;
	text-align: center;
    margin-top: 3%;
}

.box {
	position: relative;
}

.box input {
	padding-right: 30px;
}

.box i {
	position: absolute;
	top: 49%;
	transform: translateY(-50%);
	right: 20px;
	color: #c9b4b4;
    
}

.wrapper input,
.wrapper button {
	border: none;
	border: 1px solid #bababa;
	background: transparent;
	outline: none;
	height: 50px;
	color: #ffffff;
	font-size: 16px;
	width: 100%;
	margin-bottom: 20px;
	padding: 15px;
	border-radius: 10px;
}

.wrapper .opcoes {
	display: flex;
	justify-content:center;
	align-items: center;
	margin-bottom: 20px;
}

.wrapper .opcoes label {
	color: #fff;
	font-size: 18px;
	line-height: 3.5;
}

.opcoes input[type="checkbox"] {
	width: 15px;
	height: auto;
}

.wrapper a {
	text-decoration: none;
	color: #302828;
}

.wrapper button {
	background: #fff;
	color: #272525;
}

form > h2 {
	text-align: center;
}

form > #emailBox {
	display: none;
}

form > #cpfBox > a { 
    display: inline;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-repeat: no-repeat;
    background-size: 0% 1px;  
    background-position: 0 100%; 
    transition: background-size 0.3s ease-in-out;
    max-width: fit-content;
    margin-bottom: 10px;
    display: none;
    
}
form > #cpfBox > a:hover{
    background-size: 100% 1.5px;
}

#passContent {
	display: none;
	flex-direction: column;
	gap: 10px;
}

#passContent > span {
	color: rgba(255, 255, 255, 0.993);
	font-size: small;
    margin-bottom: 15px;
}

#userCadastrado {
	position: absolute;
	top: 0px;
	align-self: center;
	padding: 40px;
	background-color: #5bd35b;
	color: #fff;
	border-radius: 0px 0px 10px 10px;
	transform: translateY(-100%);
	transition: transform .2s ease-in-out;
}

#userCadastrado.show {
	transform: translateY(0%);
}